# Django
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,backend

# MySQL
DB_NAME=admiguide_db
DB_USER=admiguide_user
DB_PASSWORD=
DB_ROOT_PASSWORD=


# AdmiGuide AI
GROQ_API_KEY=
LLM_MODEL_NAME=openai/gpt-oss-120b